{% extends 'base.html' %}
{% block content %}
<h2>Student List</h2>

<form method="GET" action="/dashboard">
    
    <!-- Performance Filter -->
    <select name="filter">
        <option value="">All Performance</option>
        <option value="risk">At Risk</option>
        <option value="topper">Topper</option>
        <option value="average">Average</option>
    </select>

    <!-- Attendance Filter -->
    <select name="attendance_filter">
        <option value="">All Attendance</option>
        <option value="low">Low Attendance</option>
        <option value="average">Average Attendance</option>
        <option value="good">Good Attendance</option>
    </select>

    <button type="submit">Filter</button>
</form>

<form method="GET" action="/dashboard">
    <input type="text" name="search" placeholder="Search by name">
    <button type="submit">Search</button>
</form>
<table border="1">
<tr><th>Roll No.</th><th>Name</th><th>Math</th><th>Science</th><th>English</th><th>Attendance</th></tr>
{% for s in students %}
<tr>
<td>{{ s[0] }}</td>
<td>{{ s[1] }}</td>
<td>{{ s[2] }}</td>
<td>{{ s[3] }}</td>
<td>{{ s[4] }}</td>
<td>{{ s[5] }}</td>
<td>
    <a href="{{ url_for('edit_student', id=s[0]) }}">Edit</a>
    <a href="/delete/{{ s.id }}" onclick="return confirm('Are you sure?')">
        Delete
    </a>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}